.layout {
  background-color: rgba($color: black, $alpha: 0.75);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.modalWrap {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  min-width: 320px;

  transform: translate(-50%, -50%);
}

.title {
  background-color: cadetblue;
  color: white;
  margin: 0;
  padding: 10px
}

.body {
  padding-left: 10px;
  padding-right: 10px;
}

.btnWrap {
  padding: 10px;
}